<ion-header>
  <ion-toolbar>
    <ion-title>Event Details</ion-title>
    <ion-buttons slot="start">
        <ion-button routerLink=""><ion-icon name="arrow-back"></ion-icon></ion-button>
        </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
    Post Details Go HerePost Details Go HerePost Details Go HerePost Details Go HerePost Details Go HerePost Details Go HerePost Details Go Here
    Post Details Go HerePost Details Go HerePost Details Go HerePost Details Go HerePost Details Go HerePost Details Go HerePost Details Go Here
    Post Details Go HerePost Details Go HerePost Details Go HerePost Details Go HerePost Details Go HerePost Details Go HerePost Details Go Here
    Post Details Go HerePost Details Go HerePost Details Go HerePost Details Go HerePost Details Go HerePost Details Go HerePost Details Go Here
    Post Details Go HerePost Details Go HerePost Details Go HerePost Details Go HerePost Details Go HerePost Details Go HerePost Details Go Here
    Post Details Go HerePost Details Go HerePost Details Go HerePost Details Go HerePost Details Go HerePost Details Go HerePost Details Go Here
    Post Details Go HerePost Details Go HerePost Details Go HerePost Details Go HerePost Details Go HerePost Details Go HerePost Details Go Here
    Post Details Go HerePost Details Go HerePost Details Go HerePost Details Go HerePost Details Go HerePost Details Go HerePost Details Go Here

    <br>
    <br>
    <h2>Comments</h2>
    <ion-list *ngFor="let i of commentsData">
        <ion-card>
          <ion-card-header>
            <ion-card-subtitle>{{i.userPosted}}</ion-card-subtitle>
            <ion-card-title>{{i.eventTitle}}</ion-card-title>
          </ion-card-header>
        
          <ion-card-content>
           {{i.details}}
    
          </ion-card-content>
        </ion-card>
      </ion-list>
</ion-content>
