<ion-header>
  <ion-toolbar>
    <ion-button (click)="closeModal()" fill="outline" slot="end" color="danger">Close</ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card  class="borderless">
      <ion-card-title>{{ job.title }}</ion-card-title>
  </ion-card>
  <ion-card class="borderless">
      <ion-label><strong>Employer:</strong> {{ job.hirer }}</ion-label>
      <ion-list>
        <ion-label class="posted">Posted by: {{ job.posted }}</ion-label>
      </ion-list>
      </ion-card>
      <ion-card class="borderless">
      <ion-label><strong>Description:</strong> {{ job.description }}</ion-label>
      </ion-card>
      <br>
      <ion-card class="borderless">
          <ion-label style="font-size: 16px;"><strong>Responibilities:</strong></ion-label>
          <ion-card-content *ngFor="let responibility of job.responsibilities">
            <ul>
              <li>{{ responibility }}</li>
            </ul>
          </ion-card-content>
          </ion-card>
          <ion-card class="borderless">
            <ion-button size="large" color="danger" type="submit">Apply</ion-button>
              </ion-card>
  
</ion-content>
