<ion-header>
  <ion-toolbar>
    <ion-title>Employment Details</ion-title>
    <ion-buttons slot="start">
        <ion-button routerLink=""><ion-icon name="arrow-back"></ion-icon></ion-button>
        </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
    Employment Details Go HereEmployment Details Go HereEmployment Details Go HereEmployment Details Go HereEmployment Details Go Here
    Employment Details Go HereEmployment Details Go HereEmployment Details Go HereEmployment Details Go HereEmployment Details Go Here
    Employment Details Go HereEmployment Details Go HereEmployment Details Go HereEmployment Details Go HereEmployment Details Go Here
    Employment Details Go HereEmployment Details Go HereEmployment Details Go HereEmployment Details Go HereEmployment Details Go Here
    Employment Details Go HereEmployment Details Go HereEmployment Details Go HereEmployment Details Go HereEmployment Details Go Here
    Employment Details Go HereEmployment Details Go HereEmployment Details Go HereEmployment Details Go HereEmployment Details Go Here
    Employment Details Go HereEmployment Details Go HereEmployment Details Go HereEmployment Details Go HereEmployment Details Go Here
    Employment Details Go HereEmployment Details Go HereEmployment Details Go HereEmployment Details Go HereEmployment Details Go Here
    Employment Details Go HereEmployment Details Go HereEmployment Details Go HereEmployment Details Go HereEmployment Details Go Here

    <br>
    <br>

</ion-content>
