<ion-header>
  <ion-toolbar>
    <ion-title>Home Page</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

    <h1>{{usersDummy[0].username}}</h1>
    <h1>Events</h1>
    <ion-slides pager="true">
      <ion-slide>
        
        <h1>Event: Cultural</h1>
        <p>A cultural thing is happening on thing</p>
      </ion-slide>
  
      <ion-slide>
        <h1>Slide 2</h1>
      </ion-slide>
  
      <ion-slide>
        <h1>Slide 3</h1>
      </ion-slide>
    </ion-slides>
  
    <h1>News Feed</h1>
    <ion-slides pager="true">
      <ion-slide>
        
        <h1></h1>
        <p>Alumni soiree at library: Discussing Computer Science Jobs</p>
      </ion-slide>
  
      <ion-slide>
        <h1>Slide 2</h1>
      </ion-slide>
  
      <ion-slide>
        <h1>Slide 3</h1>
      </ion-slide>
    </ion-slides>
  
    <h1>Degree Planner</h1>
    <ion-slides pager="true">
      <ion-slide>
        
        <h1></h1>
        <p>You've gotten a</p> <h3>HD (7)</h3><p>your doing well for your course</p>
      </ion-slide>
  
      <ion-slide>
        <h1>For next semesters next enrolment you need to complete:
        </h1>
        <ul>
          <li>Software Frameworks</li>
          <li> AI Programming</li>
        </ul>
        <H1>To Complete your course with Imaginary Major</H1>
      </ion-slide>
  
      <ion-slide>
        <h1>Slide 3</h1>
      </ion-slide>
    </ion-slides>
    <br>
    <br>
  
</ion-content>
