<ion-header>
  <ion-toolbar>
    <ion-title>Contact Industry Professionals</ion-title>
    <ion-buttons slot="start">
        <ion-button routerLink=""><ion-icon name="arrow-back"></ion-icon></ion-button>
        </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
 
    <ion-list>
        <div>
        <ion-card *ngFor="let i of contactees">
              <ion-card-header>
                <ion-card-subtitle>{{i.position}}</ion-card-subtitle>
                <ion-card-title><ion-icon name="contact" class="red_col"></ion-icon>{{i.name}}</ion-card-title>
              </ion-card-header>
              <ion-card-content>
                {{i.status}}
              </ion-card-content>
    </ion-card>
  </div>
    </ion-list>
    

</ion-content>
