<ion-header>
  <ion-toolbar>
    <ion-title>
      News Feed
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-button expand="block" color="success"><ion-icon name="add"></ion-icon>CREATE EVENT</ion-button>
  <ion-list *ngFor="let i of newsData">
    <ion-card routerLink="/post-details">
      <ion-card-header>
        <ion-card-subtitle>{{i.userPosted}}</ion-card-subtitle>
        <ion-card-title>{{i.eventTitle}}</ion-card-title>
      </ion-card-header>
    
      <ion-card-content>
       {{i.details}}

      </ion-card-content>
    </ion-card>
  </ion-list>
    
</ion-content>
