<ion-header>
  <ion-toolbar>
    <ion-title>
      Employment Feed
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <!-- <ion-list>

        <ion-radio-group>
            <ion-item>
              <ion-label>Social Events</ion-label>
              <ion-radio slot="start" value="fiu" color="danger"></ion-radio>
    </ion-item>

    
        <ion-item>
          <ion-label>Course Events</ion-label>
          <ion-radio slot="start" value="biff" checked color="danger"></ion-radio>
        </ion-item>
    
        <ion-item>
          <ion-label>Enrolment Events</ion-label>
          <ion-radio slot="start" value="griff" color="danger"></ion-radio>
        </ion-item>
      </ion-radio-group>
    </ion-list> -->
    <br>
    <div *ngIf="loginCheck == 'admin'">
        <ion-button expand="block" color="success"><ion-icon name="add"></ion-icon>CREATE EVENT</ion-button>
    </div>

  <ion-list *ngFor="let i of newsData">
    <ion-card routerLink="/post-details">
      <ion-card-header>
        <ion-card-subtitle>{{i.userPosted}}</ion-card-subtitle>
        <ion-card-title>{{i.eventTitle}}</ion-card-title>
      </ion-card-header>
    
      <ion-card-content>
       {{i.details}}

      </ion-card-content>
    </ion-card>
  </ion-list>
</ion-content>
