<ion-header>
  <ion-toolbar>
    <ion-title>
      Calendar
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h2>What Degree Do You Want to Focus On?</h2>
  <ion-list>
      <ion-item>
        <ion-label>Courses</ion-label>
        <ion-select [(ngModel)]="degree" name="degree" okText="Ok" cancelText="Cancel" [interfaceOptions]="customActionSheetOptions" interface="action-sheet">
          <ion-select-option value="bIT">Bachelor of IT</ion-select-option>
          <ion-select-option value="bJournalism">Bachelor of Journalism</ion-select-option>
          <ion-select-option value="bComputerScience">Bachelor of Computer Science</ion-select-option>
          <ion-select-option value="bLanguage">Bachelor of Language and Linguistics</ion-select-option>
          <ion-select-option value="bEngineering">Bachelor of Engineering</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-list>
  <!-- <ion-list>
      <ion-radio-group>
          <ion-item>
            <ion-label>Social Events</ion-label>
            <ion-radio slot="start" value="fiu" color="danger"></ion-radio>
  </ion-item>
      <ion-item>
        <ion-label>Course Events</ion-label>
        <ion-radio slot="start" value="biff" checked color="danger"></ion-radio>
      </ion-item>
  
      <ion-item>
        <ion-label>Enrolment Events</ion-label>
        <ion-radio slot="start" value="griff" color="danger"></ion-radio>
      </ion-item>
    </ion-radio-group>
  </ion-list> -->

    <br>

    <div *ngIf="loginCheck == 'admin'">
        <ion-button expand="block" color="success" routerLink="/event-creation"><ion-icon name="add"></ion-icon>CREATE EVENT</ion-button>
    </div>
    <br>
<ion-list *ngFor="let i of eventsData">
  <div *ngIf="i.relevantDegree == degree">
      <ion-card routerLink="/event-details" color={{i.recent}}>
        <ion-card-header>
          <ion-card-subtitle>{{i.userPosted}}</ion-card-subtitle>
          <ion-card-title>{{i.eventTitle}}</ion-card-title>
        </ion-card-header>
      
        <ion-card-content>
         {{i.details}}
  
        </ion-card-content>
      </ion-card>
  </div>
   
  </ion-list>
 
</ion-content>
