<ion-header>
  <ion-toolbar>
    <ion-title>
      Login
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

    <div *ngIf="checkLogin=='false'; else loggedIn">
      
        <form (submit)="login()">
            <ion-card class="loginForm">
          <h4 class="loginLabel">Student Number:</h4>
            <input type="text" placeholder="Student Number" [(ngModel)]="username" name="username">
          </ion-card>
        <ion-card class="loginForm">
          <h4 class="loginLabel">Password:</h4>
            <input type="password" placeholder="Password" [(ngModel)]="password" name="password">
          </ion-card>
          <br>
          <br>
          <!-- <ion-list>
              <ion-item>
                <ion-label>Courses</ion-label>
                <ion-select [(ngModel)]="degree" name="degree" okText="Ok" cancelText="Cancel" [interfaceOptions]="customActionSheetOptions" interface="action-sheet">
                  <ion-select-option value="bIT">Bachelor of IT</ion-select-option>
                  <ion-select-option value="bJournalism">Bachelor of Journalism</ion-select-option>
                  <ion-select-option value="bComputerScience">Bachelor of Computer Science</ion-select-option>
                  <ion-select-option value="bLanguage">Bachelor of Language and Linguistics</ion-select-option>
                  <ion-select-option value="bEngineering">Bachelor of Engineering</ion-select-option>
                </ion-select>
              </ion-item>
            </ion-list> -->
            <ion-card class="loginForm">
          <ion-button size="large" color="danger" type="submit"><ion-icon name="log-in"></ion-icon>Login</ion-button>
            </ion-card>
        </form>
        </div>
        <ng-template #loggedIn>
            <div class="loginForm">
          <form (submit)="logout()">
            <ion-button size="large" color="danger" type="submit">Logout</ion-button>
            </form>
            </div>
        </ng-template>
</ion-content>
