

<ion-content>
  <ion-header>
    <ion-toolbar>
      <ion-icon name="settings" slot="end" id="settingsIcon"></ion-icon>
      <ion-title> Settings</ion-title>
      
    </ion-toolbar>
  </ion-header> 

  <ion-item detail>
      <ion-label>
        Notifications
      </ion-label>
    </ion-item>

  <ion-item detail>
      <ion-label>
        Event Preferences
      </ion-label>
    </ion-item>

    <ion-item detail>
        <ion-label>
          Feed Preferences
        </ion-label>
      </ion-item>

    <ion-item detail>
        <ion-label>
          Location Settings
        </ion-label>
      </ion-item>

    <ion-item detail>
        <ion-label>
          Help
        </ion-label>
      </ion-item>

    <ion-item detail>
        <ion-label>
          Sign Out
        </ion-label>
      </ion-item>
    </ion-content>